<mat-nav-list dense>
    <mat-list-item routerLink="#">
        <mat-icon>dashboard</mat-icon>Dashboard
    </mat-list-item>
    <mat-list-item routerLink="#">
        <mat-icon>check_box</mat-icon>General
    </mat-list-item>
    <mat-list-item routerLink="#">
        <mat-icon>person</mat-icon>Profile
    </mat-list-item>
    <mat-list-item routerLink="#">
        <mat-icon>notification_important</mat-icon>Notification
    </mat-list-item>
    <mat-expansion-panel dense>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Preference
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item routerLink="#">
                <mat-icon>attach_money</mat-icon>Billing
            </a>
            <a mat-list-item routerLink="#">
                <mat-icon>notification_important</mat-icon>Notification
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel dense>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Privacy
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item routerLink="#">
                <mat-icon>person_add</mat-icon>Partnership Request
            </a>
            <a mat-list-item routerLink="#">
                <mat-icon>visibility</mat-icon>Profile Visibility
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
</mat-nav-list>