@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin sidenav-component-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
    
  // all of these variables contain many additional variables
  .mat-drawer {
      background-color: #53565A;
  }

  .mat-list-item-content {
    color: #FFFFFF;
  }

  .mat-expansion-panel {
    background-color: #53565A;
  }

 mat-panel-title {
    color: #FFFFFF;
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-left: 10px;

  }

  // mat-expansion-panel-header > .mat-expansion-indicator, .mat-expansion-indicator:after {
  //   color:  #FFFFFF !important;
  // }
}
