<mat-toolbar color="primary" class="app-toolbar mat-elevation-z5">
    <mat-toolbar-row>
        <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>X1 - {{title}}</h1>
        <span class="flex-space"></span>
        <app-user></app-user>
    </mat-toolbar-row>
    <mat-toolbar-row style="height: 24px;">
        <a mat-button class="navbar-link">Associates</a>
        <a mat-button class="navbar-link">Clients</a>
        <a mat-button class="navbar-link">Offices</a>
        <a mat-button class="navbar-link">Reports</a>
        <a mat-button class="navbar-link">Payroll</a>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall()"
        [mode]="isScreenSmall() ? 'over' : 'side'">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <div class="app-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>